@model GestorPrestamos.ViewModels.InfoPrestamoViewModel

@{
    ViewData["Title"] = "Info";
    ViewData["Section"] = $"Actualizar Préstamo por Cobrar - {Model.Id}";
}

<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col">
                <label asp-for="Debtor"></label>
                <input asp-for="Debtor" class="custom-input" readonly=true />
            </div>
            <div class="col">
                <label asp-for="BorrowedAmount"></label>
                <input asp-for="BorrowedAmount" class="custom-input" readonly=true />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label asp-for="Commission"></label>
                <input asp-for="Commission" class="custom-input" readonly=true />
            </div>
            <div class="col">
                <label asp-for="Interest"></label>
                <input asp-for="Interest" class="custom-input" readonly=true />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label asp-for="LoanDate"></label>
                <input asp-for="LoanDate" type="date" class="custom-input" readonly=true />
            </div>
            <div class="col">
                <label asp-for="AgreedRepaymentDate"></label>
                <input asp-for="AgreedRepaymentDate" type="date" class="custom-input" readonly=true />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" readonly=true></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label asp-for="Description"></label>
                <textarea asp-for="Notes" readonly=true></textarea>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <h3>Registrar Pago de Préstamo</h3>
        <div class="row mt-4">
            <div class="col">
                <label>Tipo Pago</label>
                <input asp-for="Debtor" class="custom-input" readonly=true />
            </div>
            <div class="col">
                <label>Monto Pagado (S/.)</label>
                <input asp-for="BorrowedAmount" class="custom-input" readonly=true />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col offset-3">
                <button class="btn btn-secondary">Cancelar</button>
            </div>
            <div class="col">

                <button class="btn btn-primary">Registrar</button>
            </div>


        </div>
    </div>
</div>
@*<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
    </div>*@
