<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestorPrestamos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/GestorPrestamos.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1 style="text-align: center">
            @ViewData["Section"]
        </h1>
        <hr />
        <hr class="horizontal-hr" />

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <a class="nav-link text-dark btn-dark" asp-area="" asp-controller="Home" asp-action="Index">
                        <span>Opciones</span>
                    </a>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark btn-dark" asp-area="" asp-controller="LoanReceivable" asp-action="RegisterLoan"><span>Préstamo por Cobrar</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            <a class="navbar-brand" asp-area="" asp-controller="LoanReceivable" asp-action="Info">Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark btn-dark" asp-area="" asp-controller="Home" asp-action="Privacy"><span>Préstamo por Pagar</span></a>
                        </li>
                    </ul>
                    <a class="nav-link text-dark btn-dark" asp-area="" asp-controller="Home" asp-action="Index"><span>Menú</span></a>
                </div>
            </div>
        </nav>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
