@{
    ViewData["Title"] = "Home Page";
    ViewData["Section"] = "Index Section";
}

<div class="container">
    <div class="container__header">Title</div>
    <div class="container__content">
        <div class="item">Item</div>
        <div class="item">Item</div>
        <form>
            <div class="form-group">
                <label for="inputMessage" class="control-label">Text</label>
                <input id="inputMessage" name="inputMessage" class="custom-input" />
            </div>
        </form>

    </div>
</div>
